:root {
    --mobile-background-color: #3e5079;
}
/* 
.custom-homepage-header {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    color: rgb(188, 116, 255);
} */

.custom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(118, 235, 235);
    padding: 2.5%;
}

.custom-header-title {
    text-align: center;
}

.custom-header-color {
    text-decoration: none;
}

.custom-header-description-color {
    color: rgb(91, 162, 255);
    font-family: cursive;
}

.custom-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mobile-background-color);
}

.custom-nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);
}

.custom-login-button {
    color: rgb(72, 184, 109);
}

.custom-projects-slider {
    margin-top: 1%;
    margin-bottom: 1%;
}

.custom-slider-pictures {
    max-height: 500px;
    position: relative;
}

.custom-footer {
    margin-top: auto;
    margin-right: 4%;
    margin-left: 4%;
    border-top: 1px solid grey;
    padding: 8%;
}

.custom-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(154, 194, 255);
}

.custom-footer-content a {
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(195, 204, 233);
}

.custom-tab {
    margin: 5%;
    box-shadow: 5px 5px 10px rgb(73, 96, 145) inset;
    border-radius: 10px;
    padding: 5%;
}

.project {
    color: white;
    background-color: rgb(105, 140, 172);
}

.comment {

    background-color: rgb(11, 224, 178);
}



.home-projects:hover {

    background-color: rgb(109, 173, 251);
    cursor:pointer
}

.custom-my-profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.custom-start-project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.custom-project-boxes {
    display: flex;
    flex-direction: column;
}

.custom-project-boxes ul {
    margin-top: 2%;
}

.custom-project-boxes a {
    font-weight: bold;
}

.custom-project-boxes ul li {
    list-style: none;
    margin-top: 5px;
    text-decoration: none;
}

.custom-comment-tab {
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px rgb(38, 54, 78) inset;
    border-radius: 10px;
    padding: 5%;
    color: rgb(218, 218, 218);
    background-color: #475d91;
}

.custom-comment-sections {
    padding-bottom: 5%;
    border-bottom: solid 1px;
}

.custom-comment-username {
    cursor: pointer;
}

.custom-comment-date {
    text-decoration: none;
    font-style: italic;
    color: rgb(168, 168, 168);
    margin-left: 5px;
}

.custom-login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-login-title {
    text-align: center;
}

.custom-login-page {
    margin-top: 5%;
    margin-bottom: 5%;
}

.custom-leave-comment-alert {
    color: rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-leave-comment-alert a {
    color:#6c8cd8;
}

.custom-my-project-title {
    color: rgb(190, 213, 255);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.custom-create-a-project {
    color: white;
    background-color: #2b73f8;
}

.custom-delete-this-project {
    width: 200px;
    background-color: rgb(194, 43, 43);
}

.custom-delete-this-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 572px) {
    .custom-slider-pictures {
        max-height: 350px;
        position: relative;
    }
}

@media screen and (max-width: 360px) {
    .custom-slider-pictures {
        max-height: 200px;
        position: relative;
    }

    .custom-nav-tabs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color:  var(--mobile-background-color);
    }

    .custom-tab {
        margin-left: 1%;
        margin-right: 1%;
        box-shadow: 5px 5px 10px rgb(33, 99, 180) inset;
        border-radius: 10px;
        padding: 5%;
    }
    
    .project {
        background-color: rgb(0, 47, 90);
    }

    .custom-project-boxes {
        color: rgb(170, 170, 170);
    }
    
    .custom-project-boxes h1 {
        color:rgb(125, 194, 255);
    }

    .custom-main {
        background-color: var(--mobile-background-color);
    }

    .custom-inactive-tabs {
        color: white;
    }

    .custom-inactive-login-tabs {
        color: rgb(118, 250, 255)
    }

    .custom-inactive-logout-tabs {
        color: rgb(255, 152, 152)
    }

    .custom-inactive-signup-tabs {
        color: rgb(28, 255, 28)
    }
    /* ---------------- header --------------- */

    .custom-header {
        background-color: rgb(100, 207, 207);  
    }
    
    .custom-header-title {
        text-align: center;
        color: rgb(88, 104, 255)
    }
    
    .custom-header-color {
        text-decoration: none;
    }
    
    .custom-header-description-color {
        color: rgb(255, 255, 255);
        font-family: cursive;
        text-align: center;
    }
    
}

