/* Here, we declare CSS variables to be used elsewhere in the file. */
:root {
    --mobile-background-color: #3e5079;
    --login-signup-background-color: #2c4682;
}

.custom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 114, 145);
    padding: 2.5%;
}

.custom-inactive-home-tabs {
    color: rgb(255, 209, 118);
}

.custom-inactive-home-tabs:hover {
    color: rgb(255, 209, 118);
    background-color: rgb(10, 79, 148);
}

.custom-inactive-login-tabs {
    color: rgb(118, 250, 255);
}

.custom-inactive-login-tabs:hover {
    background-color: rgb(10, 79, 148);
    color: rgb(118, 250, 255);
}

.custom-inactive-logout-tabs {
    color: rgb(255, 152, 152)
}

.custom-inactive-logout-tabs:hover {
    background-color: rgb(10, 79, 148);
    color: rgb(255, 152, 152)
}

.custom-nav-link-active {
    color: rgb(14, 232, 134);
    background-color: rgb(34, 83, 104)}

.custom-nav-link-active:visited {
    color: rgb(14, 232, 134);
    background-color: rgb(24, 84, 97);
    border-bottom: 5px solid white;
}

.custom-header-title {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.nav-ul {
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(12, 109, 154)
}

.custom-header-color {
    text-decoration: none;
    color: rgb(97, 179, 255)
}

.custom-header-description-color {
    color: rgb(195, 221, 255);
    font-family: cursive;
}

.custom-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mobile-background-color);
}

/* Here, we style the tabs of the navigation bar. */
.custom-nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--mobile-background-color);;
}

.custom-login-button {
    color: rgb(72, 184, 109);
}

.custom-login-button:hover {

    color: rgb(72, 184, 109);
    background-color: rgb(10, 79, 148);;
}

.custom-login-button:visited {

    color: rgb(72, 184, 109);
    background-color: rgb(10, 79, 148);;
}

.custom-projects-slider {
    margin-top: 1%;
    margin-bottom: 1%;
}

.custom-slider-pictures {
    max-height: 500px;
    position: relative;
}

/* Here we style the container for the sliding pictures on the home page. */
.custom-slider-pictures-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-footer {
    margin-top: auto;
    margin-right: 4%;
    margin-left: 4%;
    border-top: 1px solid grey;
    padding: 8%;
}

.custom-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(154, 194, 255);
}

.custom-footer-content a {
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(195, 204, 233);
}

.custom-tab {
    margin: 2em;
    box-shadow: 5px 5px 10px rgb(73, 96, 145) inset;
    border-radius: 10px;
    padding: 5%;
}

/* Here, we style each project that appears in the application. */
.project {
    color: white;
    background-color: rgb(105, 140, 172);
}

.comment {

    background-color: rgb(11, 224, 178);
}



.home-projects:hover {

    background-color: rgb(109, 173, 251);
    cursor:pointer
}

.border-none {

    border: none;
}

.custom-my-profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.custom-start-project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Here, we style the boxes that contain each project. */
.custom-project-boxes {
    display: flex;
    flex-direction: column;
}

.custom-project-boxes h1 {
    flex-wrap: wrap;
}

.custom-project-boxes ul {
    margin-top: 2%;
    padding-left: 5%;
}


.custom-project-boxes span {

    font-weight: bold;
}

.custom-project-boxes ul li {
    list-style: none;
    margin-top: 5px;
    text-decoration: none;
    margin-left: -5%;
}

.custom-comment-tab {
    margin-top: 5%;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px rgb(38, 54, 78) inset;
    border-radius: 10px;
    padding: 5%;
    color: rgb(218, 218, 218);
    background-color: #475d91;
}

.custom-comment-sections {
    padding-bottom: 1em;
    border-bottom: solid 1px;
}

.custom-comment-username {
    cursor: pointer;
}

.custom-comment-date {
    text-decoration: none;
    font-style: italic;
    color: rgb(168, 168, 168);
    margin-left: 5px;
}

.custom-login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-login-title {
    text-align: center;
    background-color: rgb(47, 47, 109);
}

/* Here, we style the login component/page. */
.custom-login-page {
    margin-top: 5%;
    margin-bottom: 5%;
}

.custom-input-field-color {
    background-color: #415a99;
}

.custom-leave-comment-alert {
    color: rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-leave-comment-alert a {
    color:#6c8cd8;
}

.custom-my-project-title {
    color: rgb(190, 213, 255);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/* Here, we style the Create A Project button in the user's Projects section. */
.custom-create-a-project {
    color: rgb(255, 254, 254);
    background-color: #0da356;
    border: none;
}

.custom-create-a-project:hover {
    color: rgb(255, 254, 254);
    background-color: #01c861;
    border: none;
    
}

.custom-delete-this-project {
    width: fit-content;
    border: none;
    color: white;
    background-color: rgb(201, 37, 37);
    border-radius: 0.5em;
}

.custom-delete-this-project:hover {

    background-color: rgb(165, 31, 31);
}



.custom-delete-this-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-add-project-section {
    display: flex;
    flex-direction: column;
    color: rgb(219, 219, 219);
}

.custom-add-project-section input {
    margin-top: 2%;
    margin-bottom: 2%;
}

.custom-add-project-section textarea {
    margin-top: 2%;
    margin-bottom: 2%;
}

.custom-add-project-section-title {
    color: rgb(250, 255, 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-add-this-project-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.custom-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.custom-error-message {

    border-radius: 1.5em;
    text-align: center;
    font-weight: bold;
    background-color: rgb(167, 31, 31);
}

/* Here, we style the button for backing projects. */
.custom-back-this-project-button {

    background-color: rgba(53, 235, 174, 0.686);
    color: white;
}

.custom-leave-a-comment-button {
    margin-top: 1.5em;
    color: white;
    background-color:rgb(18, 105, 186);
    border: none;
}


.custom-button-color {

    color: white;
    background-color:rgb(22, 78, 191);
    border: none
}
.custom-proceed-to-checkout-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-text-area {

    background-color: #12356e;
    border: none;
}

.custom-proceed-to-checkout-button-container label {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-left: 2%;
    margin-right: 2%;
}

.custom-proceed-to-checkout-button-container button {
    margin-top: 1em;
    margin-right: 2%;
    color: white;
    background-color: rgb(60, 123, 218);
}

.custom-margin-bottom-3 {
    margin-bottom: 5%;
}

.custom-buttons-container-for-add-a-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.custom-buttons-container-for-add-a-comment label {
    margin-bottom: 1%;
}

.custom-buttons-container-for-add-a-comment textarea {
    width: 70%;
    height: 100px;
}

.custom-buttons-container-for-add-a-comment button {
    margin-top: 1%;
}

.custom-github-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-footer-github {
    margin-bottom: 0%;
}

.custom-footer-copyright {
    text-align: center;
}

.custom-carousel-title {
    font-size: 40px;
}

.custom-login-signup-form-body {
    background-color: var(--login-signup-background-color);
}

.custom-login-signup-border {
    border: 1px solid darkblue;
}

.custom-login-signup-title-background {
    background-color: rgb(19, 19, 97);
}

/* Here, we style the placeholder text in input fields to have a color of light gray. */
::placeholder {

    color: lightgray;
}

.custom-back-this-project-button:hover {

    background-color: rgba(29, 145, 104, 0.686);
    color: white;
}

.money-color {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(79, 232, 79)
}

/* Here we style elements with the classes of custom-slider-pictures, custom-carousel-title,
and custom-carousel-description when the screen hits a width of 572 pixels or smaller. */
@media screen and (max-width: 572px) {
    .custom-slider-pictures {
        max-height: 350px;
        position: relative;
    }

    .custom-carousel-title {
        font-size: 30px;
    }

    .custom-carousel-description {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .custom-slider-pictures {
        max-height: 200px;
        position: relative;
    }

    .custom-nav-tabs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color:  var(--mobile-background-color);
    }

    .custom-tab {
        margin-left: 1%;
        margin-right: 1%;
        box-shadow: 5px 5px 10px rgb(51, 78, 110) inset;
        border-radius: 10px;
        padding: 1%;
        font-size: 80%;
    }
    
    .custom-project-boxes {
        padding: 2%;
    }

    .custom-project-boxes h1 {
        text-align: center;
    }

    .custom-project-boxes ul {
        padding: 2%;
    }

    .custom-delete-this-project {

        margin-left: 1em;
        margin-bottom: 1em;
    }


    .custom-main {
        background-color: var(--mobile-background-color);
    }

    .custom-inactive-tabs {
        color: white;
    }
    
    .custom-inactive-tabs:hover {
        color: white;
    }

    .custom-inactive-logout-tabs {
        color: rgb(255, 152, 152)
    }

    .custom-inactive-logout-tabs:hover {
        color: rgb(255, 255, 255)
    }

    /* ---------------- header --------------- */ 
    .custom-header-color {
        text-decoration: none;
    }
    
    .custom-header-description-color {
        color: rgb(230, 230, 230);
        font-family: cursive;
        text-align: center;
    }

    .custom-proceed-to-checkout-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .custom-proceed-to-checkout-button-container label {
        margin-bottom: 1%;
    }
    
    .custom-proceed-to-checkout-button-container button {
        margin-top: 2%;
    }
    
    .custom-comment-tab {
        font-size: 80%;
    }

    .custom-project-boxes ul li {
        margin-left: 1%;
    }

    .custom-my-project-title {
        font-size: 36px;
    }

    .custom-add-project-section-title h3 {
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    .custom-carousel-title {
        font-size: 15px;
    }

    .custom-carousel-description {
        display: none;
    }
}