:root {
    --mobile-background-color: #3e5079;
}

.custom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61, 114, 145);
    padding: 2.5%;
}

.custom-header-title {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.custom-header-color {
    text-decoration: none;
    color: rgb(97, 179, 255)
}

.custom-header-description-color {
    color: rgb(195, 221, 255);
    font-family: cursive;
}

.custom-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mobile-background-color);
}

.custom-nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(236, 236, 236);
}

.custom-login-button {
    color: rgb(72, 184, 109);
}

.custom-projects-slider {
    margin-top: 1%;
    margin-bottom: 1%;
}

.custom-slider-pictures {
    max-height: 500px;
    position: relative;
}

.custom-slider-pictures-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-footer {
    margin-top: auto;
    margin-right: 4%;
    margin-left: 4%;
    border-top: 1px solid grey;
    padding: 8%;
}

.custom-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(154, 194, 255);
}

.custom-footer-content a {
    margin-left: 3%;
    margin-right: 3%;
    color: rgb(195, 204, 233);
}

.custom-tab {
    margin: 5%;
    box-shadow: 5px 5px 10px rgb(73, 96, 145) inset;
    border-radius: 10px;
    padding: 5%;
}

.project {
    color: white;
    background-color: rgb(105, 140, 172);
}

.comment {

    background-color: rgb(11, 224, 178);
}



.home-projects:hover {

    background-color: rgb(109, 173, 251);
    cursor:pointer
}

.custom-my-profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.custom-start-project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.custom-project-boxes {
    display: flex;
    flex-direction: column;
}

.custom-project-boxes h1 {
    flex-wrap: wrap;
}

.custom-project-boxes ul {
    margin-top: 2%;
}

/* .custom-project-boxes a {
    font-weight: bold;
} */

.custom-project-boxes ul li {
    list-style: none;
    margin-top: 5px;
    text-decoration: none;
    margin-left: -5%;
}

.custom-comment-tab {
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 10px rgb(38, 54, 78) inset;
    border-radius: 10px;
    padding: 5%;
    color: rgb(218, 218, 218);
    background-color: #475d91;
}

.custom-comment-sections {
    padding-bottom: 5%;
    border-bottom: solid 1px;
}

.custom-comment-username {
    cursor: pointer;
}

.custom-comment-date {
    text-decoration: none;
    font-style: italic;
    color: rgb(168, 168, 168);
    margin-left: 5px;
}

.custom-login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-login-title {
    text-align: center;
}

.custom-login-page {
    margin-top: 5%;
    margin-bottom: 5%;
}

.custom-leave-comment-alert {
    color: rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-leave-comment-alert a {
    color:#6c8cd8;
}

.custom-my-project-title {
    color: rgb(190, 213, 255);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.custom-create-a-project {
    color: white;
    background-color: #2b73f8;
}

.custom-delete-this-project {
    width: 200px;
    background-color: rgb(194, 43, 43);
}

.custom-delete-this-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-add-project-section {
    display: flex;
    flex-direction: column;
    color: rgb(219, 219, 219);
}

.custom-add-project-section input {
    margin-top: 2%;
    margin-bottom: 2%;
}

.custom-add-project-section textarea {
    margin-top: 2%;
    margin-bottom: 2%;
}

.custom-add-project-section-title {
    color: rgb(250, 255, 220);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-add-this-project-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
}

.custom-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.custom-leave-a-comment-button {
    color: white;
    background-color:rgb(48, 126, 199);
}

.custom-back-this-project-button {

}

.custom-proceed-to-checkout-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-proceed-to-checkout-button-container label {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-left: 2%;
    margin-right: 2%;
}

.custom-proceed-to-checkout-button-container button {
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    background-color: rgb(60, 123, 218);
}

.custom-margin-bottom-3 {
    margin-bottom: 5%;
}

.custom-buttons-container-for-add-a-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.custom-buttons-container-for-add-a-comment label {
    margin-bottom: 1%;
}

.custom-buttons-container-for-add-a-comment textarea {
    width: 70%;
    height: 100px;
}

.custom-buttons-container-for-add-a-comment button {
    margin-top: 1%;
}

.custom-github-links-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 572px) {
    .custom-slider-pictures {
        max-height: 350px;
        position: relative;
    }
}

@media screen and (max-width: 370px) {
    .custom-slider-pictures {
        max-height: 200px;
        position: relative;
    }

    .custom-nav-tabs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color:  var(--mobile-background-color);
    }

    .custom-tab {
        margin-left: 1%;
        margin-right: 1%;
        box-shadow: 5px 5px 10px rgb(51, 78, 110) inset;
        border-radius: 10px;
        padding: 1%;
        font-size: 80%;
    }
    
    .custom-project-boxes {
        padding: 2%;
    }

    .custom-project-boxes h1 {
        text-align: center;
    }

    .custom-project-boxes ul {
        padding: 2%;
    }


    .custom-main {
        background-color: var(--mobile-background-color);
    }

    .custom-inactive-tabs {
        color: white;
    }
    
    .custom-inactive-tabs:hover {
        color: white;
    }

    .custom-inactive-login-tabs {
        color: rgb(118, 250, 255)
    }

    .custom-inactive-login-tabs:hover {
        color: rgb(255, 255, 255)
    }

    .custom-inactive-logout-tabs {
        color: rgb(255, 152, 152)
    }

    .custom-inactive-logout-tabs:hover {
        color: rgb(255, 255, 255)
    }

    .custom-inactive-signup-tabs {
        color: rgb(28, 255, 28)
    }

    .custom-inactive-signup-tabs {
        color: rgb(255, 255, 255)
    }
    /* ---------------- header --------------- */

    .custom-header {
        background-color: rgb(58, 145, 145);  
    }
    
    .custom-header-title {
        text-align: center;
        color: rgb(88, 104, 255)
    }
    
    .custom-header-color {
        text-decoration: none;
    }
    
    .custom-header-description-color {
        color: rgb(255, 255, 255);
        font-family: cursive;
        text-align: center;
    }

    .custom-proceed-to-checkout-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .custom-proceed-to-checkout-button-container label {
        margin-bottom: 1%;
    }
    
    .custom-proceed-to-checkout-button-container button {
        margin-top: 2%;
    }
    
    .custom-comment-tab {
        font-size: 80%;
    }

    .custom-nav-link-active:hover {
        background-color: white;
    }

    .custom-project-boxes ul li {
        margin-left: 1%;
    }
}